        /* General styling */
        body {
            font-family: Arial, sans-serif;
        }

        /* Dark mode styling */
        body.dark-mode {
            background-color: #121212;
            color: #ffffff;
        }
        .card {
            transition: background-color 0.3s;
        }
        .dark-mode .card {
            background-color: #1e1e1e;
        }
        .dark-mode .text-white {
            color: #ffffff !important;
        }
        .dark-mode .sidebar-heading, .dark-mode .list-group-item {
            background-color: #333333;
        }

        .profile-card .card-img-top {
            width: 100%;
            height: 200px;
        }

/* Sidebar styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(rgba(241, 250, 255, 0.8), rgba(203, 228, 255, 0.8)), 
  url('../images/bg.jpg');
  background-size: cover; /* Memastikan gambar memenuhi seluruh area */
  background-repeat: no-repeat; /* Agar gambar tidak diulang */
  background-attachment: fixed; /* Membuat gambar tetap saat scrolling */
}

.sidebar {
  position: fixed;
  width: 270px;
  margin: 16px;
  border-radius: 16px;
  background: #151A2D;
  height: calc(100vh - 32px);
  transition: all 0.4s ease;
}

.sidebar.collapsed {
  width: 85px;
}

.sidebar .sidebar-header {
  display: flex;
  position: relative;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.sidebar-header .header-logo img {
  width: 46px;
  height: 46px;
  display: block;
  object-fit: contain;
  border-radius: 50%;
}

.sidebar-header .toggler {
  height: 35px;
  width: 35px;
  color: #151A2D;
  border: none;
  cursor: pointer;
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.4s ease;
}

.sidebar-header .sidebar-toggler {
  position: absolute;
  right: 20px;
}

.sidebar-header .menu-toggler {
  display: none;
}

.sidebar.collapsed .sidebar-header .toggler {
  transform: translate(-4px, 65px);
}

.sidebar-header .toggler:hover {
  background: #dde4fb;
}

.sidebar-header .toggler span {
  font-size: 1.75rem;
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .toggler span {
  transform: rotate(180deg);
}

.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 4px;
  padding: 0 15px;
  flex-direction: column;
  transform: translateY(15px);
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
  transform: translateY(65px);
}

.sidebar-nav .nav-link {
  color: #fff;
  display: flex;
  gap: 12px;
  white-space: nowrap;
  border-radius: 8px;
  padding: 12px 15px;
  align-items: center;
  text-decoration: none;
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link {
  border-radius: 12px;
}

.sidebar .sidebar-nav .nav-link .nav-label {
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
  opacity: 0;
  pointer-events: none;
}

.sidebar-nav .nav-link:hover {
  color: #151A2D;
  background: #fff;
}

.sidebar-nav .nav-item {
  position: relative;
}

.sidebar-nav .nav-tooltip {
  position: absolute;
  top: -10px;
  opacity: 0;
  color: #151A2D;
  display: none;
  pointer-events: none;
  padding: 6px 12px;
  border-radius: 8px;
  white-space: nowrap;
  background: #fff;
  left: calc(100% + 25px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0s;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
  display: block;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(50%);
  transition: all 0.4s ease;
}

.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

/* Responsive media query code for small screens */
@media (max-width: 1024px) {
  .sidebar {
    height: 56px;
    margin: 13px;
    overflow-y: hidden;
    scrollbar-width: none;
    width: calc(100% - 26px);
    max-height: calc(100vh - 26px);
  }

  .sidebar.menu-active {
    overflow-y: auto;
  }

  .sidebar .sidebar-header {
    position: sticky;
    top: 0;
    z-index: 20;
    border-radius: 16px;
    background: #151A2D;
    padding: 8px 10px;
  }

  .sidebar-header .header-logo img {
    width: 40px;
    height: 40px;
  }

  .sidebar-header .sidebar-toggler,
  .sidebar-nav .nav-item:hover .nav-tooltip {
    display: none;
  }
  
  .sidebar-header .menu-toggler {
    display: flex;
    height: 30px;
    width: 30px;
  }

  .sidebar-header .menu-toggler span {
    font-size: 1.3rem;
  }

  .sidebar .sidebar-nav .nav-list {
    padding: 0 10px;
  }

  .sidebar-nav .nav-link {
    gap: 10px;
    padding: 10px;
    font-size: 0.94rem;
  }

  .sidebar-nav .nav-link .nav-icon {
    font-size: 1.37rem;
  }

  .sidebar-nav .secondary-nav {
    position: relative;
    bottom: 0;
    margin: 40px 0 30px;
  }
}
        /* Sidebar wrapper styles */
        #sidebar-wrapper {
            height: 100vh;
            width: 250px;
            background: linear-gradient(135deg, #3a7bd5, #3a6073); /* Gradient background */
            display: flex;
            flex-direction: column;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        }

        /* Sidebar heading styles */
        .sidebar-heading {
            font-size: 1.5rem;
            text-transform: uppercase;
            background: rgba(255, 255, 255, 0.1);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            color: #fff;
        }

        /* List group item styles */
        .list-group-item {
            display: flex;
            align-items: center;
            border: none;
            color: #fff;
            transition: all 0.3s ease;
        }

        .list-group-item .icon-size {
            width: 24px;
            height: 24px;
        }

        .list-group-item:hover {
            background: rgba(255, 255, 255, 0.2);
            border-left: 4px solid #ffd700;
            font-weight: bold;
            color: #ffd700;
            cursor: pointer;
        }

        /* Active item style */
        .list-group-item.active {
            background: #ffd700;
            color: #3a6073;
            font-weight: bold;
            border-left: 4px solid #3a6073;
        }



        /* Camera Feed Section */
        .camera-feed-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .camera-feed-container img {
            width: 500px; /* Adjust the width to make the image smaller */
            /* max-width: 1000px; Optional: Set a max width to ensure it doesn't get too large */
            height: 300px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        #camera-error-message {
            text-align: center;
            color: red;
            display: none;
        }

        .mirror {
            transform: scaleX(-1);
        }


        /* Control buttons styling */
        .control-btn {
            width: 60px;
            height: 60px;
            font-size: 1.5rem;
            margin: 10px;
        }

        .control-btn:active, .control-btn.pressed {
            background-color: #0056b3; /* Warna lebih gelap untuk tombol saat ditekan */
            transform: translateY(2px); /* Sedikit efek tekanan */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        /* Status Box */
        .status-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            padding: 15px;
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 5px;
        }
        .dark-mode .status-box {
            background-color: #333333;
            border-color: #444444;
        }
        #battery-icon, #signal-icon {
            width: 24px;
            height: 24px;
            transition: fill 0.3s;
        }

        .battery-green {
            fill: green;
        }
        .battery-yellow {
            fill: yellow;
        }
        .battery-orange {
            fill: orange;
        }
        .battery-red {
            fill: red;
        }

        .signal-green {
            fill: green;
        }
        .signal-yellow {
            fill: yellow;
        }
        .signal-orange {
            fill: orange;
        }
        .signal-red {
            fill: red;
        }

        #darkModeToggle {
            background-color: transparent;
            color: black;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
        }
        
        #darkModeToggle .icon-size {
            width: 24px;
            height: 24px;
            transition: fill 0.3s ease, transform 0.2s ease;
        }
        
        /* Hover effect for the toggle button */
        #darkModeToggle:hover .icon-size {
            fill: #ffd700; /* Change icon color to gold on hover */
            transform: scale(1.1); /* Slight zoom effect on hover */
        }
        
        /* Dark mode active styles */
        body.dark-mode #darkModeIcon {
            fill: #ffd700; /* Sun-like color for the icon in dark mode */
        }
        
        body.dark-mode #darkModeToggle {
            color: white; /* Ensure button text (if any) contrasts in dark mode */
        }
        

        /* Dark mode */
        body.dark-mode {
            background-color: #121212;
            color: #ffffff;
        }
        .dark-mode .list-group-item {
            background-color: #333333;
            color: #ffffff;
        }

        .dark-mode #sidebar-wrapper {
            background: #444444;
            color: #ffffff;
        }

        .dark-mode .sidebar-heading {
            background-color: #444444;
            color: #ffffff;
        }

        .dark-mode .list-group {
            background-color: #444444;
            color: #ffffff;
        }

        /* Smooth transition */
        body {
            transition: background-color 0.3s, color 0.3s;
        }

#wrapper {
    display: flex;
}

#sidebar-wrapper {
    min-width: 250px;
}

.card-title {
    font-size: 16px;
}

.card-text {
    font-size: 24px;
    font-weight: bold;
}

.control-btn {
    padding-right: 20px;
}

.profile-cards {
    margin-top: 50px;
    margin-left: 350px;
}

.profile-card {
    width: 300px; /* Atur lebar kartu */
    border: 1px solid #e0e0e0; /* Tambahkan border tipis */
    border-radius: 10px; /* Berikan sudut yang melengkung */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk kesan 3D */
    overflow: hidden; /* Pastikan gambar tidak keluar dari border */
    background-color: #ffffff; /* Warna latar belakang */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animasi hover */
}

.profile-card:hover {
    transform: translateY(-10px); /* Efek melayang saat hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Tambahkan bayangan saat hover */
}

.profile-card img {
    width: 100%; /* Gambar mengisi lebar penuh kartu */
    height: auto; /* Jaga rasio gambar */
    display: block; /* Menghapus spasi tambahan gambar */
}

.profile-card .card-body {
    padding: 20px; /* Beri jarak di dalam elemen */
    text-align: center; /* Tengah semua konten */
}

.profile-card .card-title {
    font-size: 1.25rem; /* Ukuran teks judul */
    font-weight: bold; /* Tebalkan teks judul */
    margin-bottom: 10px; /* Beri jarak dengan teks lainnya */
    color: #333333; /* Warna teks */
}

.profile-card .card-text {
    font-size: 1rem; /* Ukuran teks normal */
    color: #666666; /* Warna teks lebih terang */
    margin: 0; /* Hapus margin default */
}


@media (max-width: 768px) {
    /* General styling */ 
    
            /* Camera Feed Section */
            .camera-feed-container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
            }
    
            .camera-feed-container img {
                width: 300px; /* Adjust the width to make the image smaller */
                /* max-width: 1000px; Optional: Set a max width to ensure it doesn't get too large */
                height: 200px;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
    
            #camera-error-message {
                text-align: center;
                color: red;
                display: none;
            }
    
            .mirror {
                transform: scaleX(-1);
            }
    
    
            /* Control buttons styling */
            .control-btn {
                width: 60px;
                height: 60px;
                font-size: 1.5rem;
                margin: 10px;
            }
    
            .control-btn:active, .control-btn.pressed {
                background-color: #0056b3; /* Warna lebih gelap untuk tombol saat ditekan */
                transform: translateY(2px); /* Sedikit efek tekanan */
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            }
    
            /* Status Box */
            .status-box {
                display: flex;
                width: 50%;

                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
                padding: 15px;
                background-color: #f8f9fa;
                border: 1px solid #dee2e6;
                border-radius: 5px;
            }
            .dark-mode .status-box {
                background-color: #333333;
                border-color: #444444;
            }
            #battery-icon, #signal-icon {
                width: 24px;
                height: 24px;
                transition: fill 0.3s;
            }
    
            .battery-green {
                fill: green;
            }
            .battery-yellow {
                fill: yellow;
            }
            .battery-orange {
                fill: orange;
            }
            .battery-red {
                fill: red;
            }
    
            .signal-green {
                fill: green;
            }
            .signal-yellow {
                fill: yellow;
            }
            .signal-orange {
                fill: orange;
            }
            .signal-red {
                fill: red;
            }
    
    
    
    
            /* Dark mode */
            body.dark-mode {
                background-color: #121212;
                color: #ffffff;
            }
            .dark-mode .list-group-item {
                background-color: #333333;
                color: #ffffff;
            }
            .dark-mode .sidebar-heading {
                background-color: #444444;
                color: #ffffff;
            }
    
            /* Smooth transition */
            body {
                transition: background-color 0.3s, color 0.3s;
            }
    
    #wrapper {
        display: flex;
    }
    
    #sidebar-wrapper {
        min-width: 250px;
    }
    
    .card-title {
        font-size: 16px;
    }
    
    .card-text {
        font-size: 24px;
        font-weight: bold;
    }
    
    .control-btn {
        padding-right: 20px;
    }

    .controlling p {
        font-size: 10px;
    }
}